body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  width: 100%
  margin-bottom: 18px;

  background-color: #eeeeee;
}

.main-navigation {
  display: flex;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500; 
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin-right: 140px;
  margin-left: 140px;
}

.site-navigation,
.shopping-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  width: 441px; 
}

.shopping-navigation {
  width: 115px; 
}

.site-navigation a,
.shopping-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.shopping-navigation a:hover,
.shopping-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.shopping-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}


.studio-features {
  width: 100%;
  background-color: #eeeeee;
}

.container-studio-feachers {
  width: 1160px;
  margin-left: 140px;
  margin-right: 140px;
}

.studio-features-list {
  list-style: none;
}

.studio-features-item h3 {
  font-size: 55px;
  line-height: 1.2;
  font-weight: 500;
}

.studio-features-item .btn {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
}

.studio-features-item .btn:hover,
.studio-features-item .btn:focus {
  background-color: #e74246;
}

.studio-features-item .btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.studio-features-item-1 {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
}

.studio-features-item-2 {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
}

.studio-features-item-3 {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
}

.main-container {
  width: 1160px;
  margin-left: 140px;
  margin-right: 140px;
}

.products {
  margin-bottom: 80px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 1100px;

  list-style: none;
}

.products-item {
  width: 300px;
}

.products-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase; 

  border: none;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-web {
  background-color: #fb565a;
}

.btn-web:hover,
.btn-web:focus {
  background-color: #e74246; 
}

.btn-web:active {
  background-color: #d7373b;
}

.btn-app {
  background-color: #00ca74;
}

.btn-app:hover,
.btn-app:focus {
  background-color: #00bc6c; 
}

.btn-app:active {
  background-color: #00aa62;
}

.btn-presentation {
  background-color: #efc84a;
}

.btn-presentation:hover,
.btn-presentation:focus {
  background-color: #eab534;  
}

.btn-presentation:active {
  background-color: #e5a722;
}

.about-us {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin-bottom: 43px;
}

.about-us-info {
  width: 660px;
}

.about-us-stats {
  width: 360px;
}

.about-us-title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 500;
}

.orders-title, 
.statistics-info b {
  font-weight: 700;
  text-transform: uppercase;
}

.statistics td {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
}

.statistics th {
 font-weight: 400;
 line-height: 18px;
 color: #283136;
}

.partners {
  width: 1160px;
}

.partners-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.partners-link img {
  opacity: 0.2;
}

.partners-link:hover img
.partners-link:focus img {
  opacity: 1;
}

.partners-link:active img {
  opacity: 0.1;
}

.page-title-wrapper h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  text-align: center;
}

.main-container-catalog {
  display: flex;
}

.filter-group legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filters-list {
  list-style: none;
}

.filter-group {
  border: none;
}

.filter-button {
  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0,0,0,0.3);
  background-color: #d5d5d5;
}

.filter-input + label {
  color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.3;
}

.catalog-sorting b {
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-buttons,
.sorting-range,
.catalog-list,
.pagination-list {
  list-style: none;
}

.sorting-buttons {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-btn {
  color: rgba(0,0,0,0.3); 
}

.sorting-btn:hover,
.sorting-btn:active {
  color: rgba(0,0,0,0.6);
}

.sorting-btn:active {
 color: #000000;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.price-btn {
  background-color: #fb565a;
}

.price-btn:hover,
.price-btn:focus {
  background-color: #e74246;
}

.price-btn:active {
  color: #ffffff;
  background-color: #d7373b;
}

.description-hover {
  background-color: #eeeeee;
  opacity: 0;
}

.description-hover:hover,
.description-hover:focus {
  opacity: 1;
 }

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0,0,0,0.3);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  background-color: #ffffff;
  border: #efefef;
}

.footer-contacts {
  width: 319px;
}

.footer-contacts b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-contacts p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.footer-contacts a {
  background-color: #fb565a;
}

.discount b {
  font-size: 36px;
  line-height: 36px;
}

.discount p {
  line-height: 22px;
  color: #444444;
}

.footer-social-buttons {
  order: -1;
  margin-right: 139px;
  list-style: none;
}

.social {
  display: flex;
}

.footer-wrapper {
  margin-bottom: 70px;
}

.feedback h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500px;
}

.feedback-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700; 
}

.feedback-item input {
  line-height: 18px;
  color: #444444;
}

.feedback-form .btn {
  background-color: #fb565a;
}




