body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  min-width: 1200px;
  outline: none;

  background-color: #ffffff;
}

html { 
  -webkit-box-sizing: border-box; 
          box-sizing: border-box; }

*, *::before, *::after { 
  -webkit-box-sizing: inherit; 
          box-sizing: inherit; }

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; 
  padding-top: 50px;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500; 
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.main-header-logo {
  width: 165px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-navigation,
.shopping-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 26px;
}

.site-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 35px;
  width: 450px; 
}

.shopping-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 116px; 
  text-align: center;
}

.site-navigation li {
  margin-bottom: 17px;
}

.site-navigation li:not(:nth-child(4n)) {
  margin-right: 46px;
}

.site-navigation a,
.shopping-navigation a {
  display: block;

  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.shopping-navigation a:hover,
.shopping-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.shopping-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.active-page {
  border-bottom: 2px solid #fb565a;
}

.shopping-cart-link {
  position: relative;
  padding-left: 42px;
}

.shopping-cart-link::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0px;
  width: 16px;
  height: 18px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50.5%; 
  bottom: 96px;
  transform: translateX(-50%);
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  padding: 8px;
  margin-right: 17px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 67px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 7px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.slider-controls .slider-controls-item::before {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 26px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding-top: 17px;
  padding-bottom: 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;

  border-radius: 3px;
  border: none;
  outline-style: none;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);

  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);

          box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.slider-item-btn {
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  width: 240px;

  background-color: #fb565a;
}

.slider-item-btn:hover,
.slider-item-btn:focus {
  background-color: #e74246;
}

.slider-item-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.products {
  padding: 80px 0 40px;
  border-bottom:2px solid #eeeeee; 
}

.products-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products-item {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 40px;
}

.products-item:nth-child(3n) {
  margin-right: 0;
}

.products-item h3 {
  margin-top: 18px;
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.products-item p {
  margin-bottom: 32px;

  width: 260px;
}

.btn-web,
.btn-app,
.btn-presentation {
  padding-left: 40px;
  padding-right: 40px;
}

.btn-web {
  background-color: #fb565a;
}

.btn-web:hover,
.btn-web:focus {
  background-color: #e74246; 
}

.btn-web:active {
  background-color: #d7373b;
}

.btn-app {
  background-color: #00ca74;
}

.btn-app:hover,
.btn-app:focus {
  background-color: #00bc6c; 
}

.btn-app:active {
  background-color: #00aa62;
}

.btn-presentation {
  background-color: #efc84a;
}

.btn-presentation:hover,
.btn-presentation:focus {
  background-color: #eab534;  
}

.btn-presentation:active {
  background-color: #e5a722;
}

.about-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 49px;

  border-bottom: 2px solid #eeeeee;
}

.about-us-info {
  padding-top: 74px;
  width: 660px;
}

.orders-title {
  margin-top: 38px;
  margin-bottom: 24px;
  font-weight: 700;
  text-transform: uppercase; 
} 

.about-us-stats {
  padding-top: 40px;
  width: 360px;
}

.about-us-stats img {
  margin-bottom: 29px;
}

.about-us-title {
  display: block;
  margin-bottom: 34px;
  border-spacing: 0 16px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.orders-list {
  margin: 0;
  padding: 0;
}

.orders-item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 36px;

  list-style: none;
}

.orders-item::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.statistics-info b {
  display: block;
  text-align: center;
  margin-bottom: 38px;

  font-weight: 700;
  text-transform: uppercase;
}

.statistics {
  width: 360px;
}

.statistics td {
  position: relative;
  width: 107px;
  padding-bottom: 18px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
 }

.statistics td::after {
  content: "%";

  position: absolute;
  font-size: 23px; 
  bottom: 25px;
}

.statistics th {
  text-align: left;
  font-weight: 400;
  line-height: 18px;
  color: #283136;
}

.statistics tr {
  margin-bottom: 27px;
}

.partners {
  margin-bottom: 80px;

  border-bottom: 2px solid #eeeeee; 
}

.partners-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 22px 0 12px;
  margin: 0;

  list-style: none;
}

.partners-link:not(:nth-child(4n)) {
  margin-right: 30px;
  width: 280px;
}

.partners-link {
  display: block;
}

.partners-item {
  position: relative;
  margin-right: 18px;
  width: 280px;
}

.partners-item:nth-of-type(3n) {
  margin-right: 0;
}

.partners-item:nth-of-type(4n) {
  margin-right: 0;
  margin-left: 19px; 
  width: 260px;
}

.partners-item::after {
  content: "";

  position: absolute;
  top: 35px;
  right: 0;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.partners-link img {
  opacity: 0.2;
}

.partners-link:hover img,
.partners-link:focus img {
  opacity: 1;
}

.partners-link:active img {
  opacity: 0.1;
}

.page-title-wrapper {
  padding-bottom: 108px;
  padding-top: 66px;

  background-color: #eeeeee;
}

.page-title-wrapper h1 {
  display: block;
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
}

.main-container-catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  padding-top: 58px;
}

.filters {
  width: 260px;
 }

.filter-group {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;

  border: none;
}

.filter-group:first-child {
  margin-bottom: 59px;
}

.range-filter {
  width: 260px;
  margin-top: 29px;
}

.filter-group legend {
  margin-bottom: 19px;

  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.filters-list {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 20px;
}

.filter-item {
  margin-bottom: 20px;
  padding-left: 37px;
}

.filter-item label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -37px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -37px;
  top: -3px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: -3px;
  left: -37px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
}

.filter-item label:hover,
.filter-item label:focus {
  opacity: 1;
}

.filter-item label:disabled {
  opacity: 0.3;
}

.filter-item label:hover:before,
.filter-item label:focus:before,
.filter-item label:hover:after,
.filter-item label:focus:after {
  opacity: 1;
}

.filter-item label:disabled:before,
.filter-item label:disabled:after {
  opacity: 0.3;
}


.filter-button {
  padding-left: 88px;
  padding-right: 88px;
  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0,0,0,0.3);
  background-color: #d5d5d5;
}

.filter-input + label {
  color: #283136;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.3;
}

.catalog {
  width: 760px;
}

.catalog-sorting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 50px;
}

.catalog-sorting b {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-buttons,
.sorting-range,
.catalog-list,
.pagination-list {
  list-style: none;
}

.sorting-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 272px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-right: 50px;
  margin-left: 267px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
}

.sorting-option {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0,0,0,0.3); 
}

.sorting-option:hover,
.sorting-option:active {
  color: rgba(0,0,0,0.6);
}

.sorting-option:active {
  color: #000000;
}

.sorting-option.active {
  color: #000000;
}

.sorting-range {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 41px;
}

 .sorting-btn {
  display: inline-block;
  vertical-align: top;
  width: 11px;
  height: 13px;
  vertical-align: middle;
  opacity: 0.3;
}

.sorting-btn:hover,
.sorting-btn:focus {
  opacity: 0.5;
}

.sorting-btn:active {
  opacity: 1
}

.sorting-btn-up {
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
}

.sorting-btn-down {
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
}

.sorting-btn.active {
  opacity: 1;
}

.description-hover h3 {
  margin: 0;
  margin-bottom: 16px;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.catalog-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-top: 40px;
  margin-bottom: 25px;
  margin-right: 40px;

  background-color: #ffffff;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item::before { 
  content: "";
  position: absolute;
  top: -39px;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog-item:hover:before {
  opacity: 1;
}

.catalog-item:hover,
.catalog-item:focus {
  -webkit-box-shadow: 0 0 25px -4px;
          box-shadow: 0 0 25px -4px;
}

.description-hover p {
  display: block;
  width: 232px;
  margin: 0;
  margin-bottom: 29px;
  line-height: 18px;
}

.description-hover {
  display: none;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding-top: 28px;
  padding-right: 67px;
  padding-left: 67px;
  padding-bottom: 43px;
  text-align: center;

  background-color: #eeeeee;
}

.catalog-item:hover .description-hover,
.catalog-item:focus .description-hover {
  display: block;
 }

 .price-btn {
  padding: 16px 62px;
  
  background-color: #fb565a;
}

.price-btn:hover,
.price-btn:focus {
  background-color: #e74246;
}

.price-btn:active {
  color: #ffffff;
  background-color: #d7373b;
}

.pagination-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: 30px;

  list-style: none;
}

.pagination-item {
  margin-right: 11px;
  width: 50px;
}

.pagination-item:last-child {
  margin-right: 0;
  width: 260px;
}

.pagination-item a {
  display: block;
  padding: 13px ;

  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  background-color: #eeeeee;
  border-radius: 3px;
  border: 3px solid #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0,0,0,0.3);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  background-color: #ffffff;

  border: 3px solid #dbdbdb;
  border-radius: 3px;
 
}

.map {
  position: relative;
  width: 100%;
  height: 416px;

  background-color: #f1efe8;
}

.map-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  margin: 0 auto;
}

.map-img img {
  height: 416px;
}

.map iframe {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 416px;
  border: 0;
}

.map .container {
  position: relative;
}

.footer-contacts {
  position: absolute;
  top: 51px;
  left: 21px;
  padding-top: 51px;
  padding-bottom: 47px;
  padding-right: 50px;
  padding-left: 50px;
  width: 319px;
  z-index: 3;

  background-color: #ffffff;
}

.footer-contacts b {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-contacts p {
  display: block;
  padding: 0;
  margin: 0;
  padding-bottom: 19px;

  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.footer-contacts .btn {
  margin-top: 17px;
  padding-left: 43px;
  padding-right: 44px;

  background-color: #fb565a;
}

.discount {
  width: 550px;
  margin-top: 75px;
}

.discount b {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.discount p {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 78px;

  line-height: 22px;
  color: #444444;
}

.footer-social-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
  width: 259px;
  margin: 0;
  padding: 0;
  margin-top: 68px;
  margin-right: 140px;

  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 78px;
  height: 78px;
  margin-bottom: 10px;

  background-color: #e1e1e1;

  border-radius: 50px;
  border: none;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.social-button:active svg {
  opacity:0.3;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 960px;
  margin-top: -310px;
  margin-left: -480px;
  padding: 73px 100px 84px; 
  z-index: 4;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.feedback-show {
  display: block;

  -webkit-animation: bounce 1s;

          animation: bounce 1s;
}

.feedback-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.feedback h2 {
  margin: 0;
  margin-bottom: 50px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500px;
}

.feedback-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-item {
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700; 
}

.feedback-field,
.feedback-item textarea {
  padding: 14px 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);

  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline-style: none;
}

.feedback-field {
  width: 360px;
  margin-bottom: 36px;
}

.feedback-field:hover,
.feedback-item textarea:hover { 
  border: 2px solid #b4b9bb;
}

.feedback-field:focus,
.feedback-item textarea:focus {
  border: 2px solid #000000;
}

.feedback-field:disabled { 
  color: #e74246;
  border: 2px solid #e74246
}

.feedback-item label {
  display: block;
  margin-bottom: 13px;
}


.feedback-item textarea {
  width: 760px;
  margin-bottom: 47px;
  min-height: 118px;
  vertical-align: top;
}

.feedback-form .btn {
  padding: 18px 84px;
  line-height: 18px;

  background-color: #fb565a;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 89px;
  width: 21px;
  height: 21px;
  font-size: 0;

  background-color: transparent;
  border: 0;
  outline-style: none;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 1px;

  width: 19px;
  height: 3px;

  background-color: #fecccd;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:hover:before,
.modal-close:focus:before,
.modal-close:hover:after,
.modal-close:focus:after {
  background-color: #fb565a;
}

.modal-close:active:before,
.modal-close:active:after {
  background-color: #ffeeee;
}

